
<div *ngIf="IsConfirmed" >
<h4>seats to be Booked
</h4>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Seats" type="number" max="{{data.free_seats}}" min="1" [(ngModel)]="seats" >
</mat-form-field>
<button mat-raised-button color="primary" (click)="Confirm()">Yes</button>
<button mat-raised-button (click)="dialogRef.close()">No</button>
</div>
<div *ngIf="!IsConfirmed">
  <h4>You Have Booked The seat
  </h4>
  <button mat-raised-button color="primary" (click)="dialogRef.close()">Ok</button>
  </div>
  <!-- <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
  show = {{show}}
  <br>
  <div *ngIf="show">Text to show</div> -->
`
