.container-fluid
{
    background-color:#f2f2f2;
}
.col
{
    background:#2EA0D7;
    border-top:solid;
    border-bottom:solid;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.example-radio-button {
  margin: 5px;
}
.example-full-width {
  width: 100%;
}
